@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@100&display=swap');


a
{
	font-family: 'Piazzolla', serif;
	color: #cc0099;
	font-size: 40px;
	text-decoration: none;
}
body
{
	background-color: #f2e6ff;
}

h1
{
	text-align: center;
	font-size: 45px;
}
table
{
	width: 600px;
	height: 35px;
	text-align: center;
}

.menu a:hover
{
	background: rgba(255, 0, 128, 0.15);
}